<h1>Add New Movie</h1>
<%= form_for(:movie,:url=>{:action=>'create'}) do |f| %>
	<p>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</p>
	<p>
		<%= f.label :genre %>
		<%= f.select :genre, options_for_select([["Select Genre", ""], "Action", "Crime", "Thriller", "Mystery", "Comedy"]) %>
	</p>
	<p>
		<%= f.label :release_date %>
		<%= f.date_select :release_date %>
	</p>
	<p>
    	<%= f.submit %>
    </p>
<% end %>